<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Login</title>
</head>
<body>
<script>
    if (localStorage.getItem("jwt")) {
        fetch("http://localhost:8080/customer/get-current-customer", {
            headers: {
                'Content-Type': 'application/json',
                'Authorization': localStorage.getItem("jwt"),
            },
        })
            .then(response => response.json())
            .then(r => {
                document.body.innerHTML =
                    r.email +
                    "<button id=\"logout\">logout</button>";
                document.getElementById("logout").addEventListener("click", () => {
                    localStorage.removeItem("jwt");
                    location.reload();
                });
            });
    } else {
        document.body.innerHTML =
            "<label for=\"username\">username</label><input id=\"username\">" +
            "<label for=\"password\">password</label><input id=\"password\">" +
            "<button id=\"register\">register</button>" +
            "<button id=\"login\">login</button>"
        document.getElementById("register").addEventListener("click", () => {
            fetch("http://localhost:8080/customer/register", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                })
            })
                .then(response => response.json())
                .then(r => {
                    localStorage.setItem("jwt", r.authorization);
                    location.reload();
                });
        })
        document.getElementById("login").addEventListener("click", () => {
            fetch("http://localhost:8080/customer/login", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value
                })
            })
                .then(response => response.json())
                .then(r => {
                    localStorage.setItem("jwt", r.authorization);
                    location.reload();
                });
        })
    }
</script>
</body>
</html>
